{% extends 'base2.html' %}
{% block title %}Change Password{% endblock title %}

{% block style %}
<style>
    input[type='password'],label,a,button{
        max-width: 350px !important;
        margin: auto;
        outline: none;
        border-radius: 4px;
        border: none;
    }
</style>
{% endblock style %}
{% block content_box %}
{% load static %}
<link rel="stylesheet" href="{% static '/resources/style/bootstrap.min.css' %}"></link>

   
<section class="bg-dark pt-5 mt-5 pb-3 d-flex flex-column justify-content-center align-items-center" data-aos="fade"  data-aos-delay="1500">
    <div class="container">
        <h2 class="w-100 text-center text-dark bg-light">Change your account password</h2>
        <p class="w-100 text-center text-dark bg-light">Your password will be change after successfully submition of the new updates </p>
        <div class="row p-2 justify-content-center">
                <div class="border rounded row" style="max-width: 500px;">
                    <h4 class="text-dark bg-light w-100 text-center my-3">New Password</h4>
                        <form class="form-inline text-white" action="/dashboard/password/change/" novalidate method="post">
                            {% csrf_token %}
                            <div class="row mb-5">
                                    <label class="labels h6  text-dark bg-light">{{forms.old_password.label|capfirst}}</label>
    
                                    {{forms.old_password}}
                                    {{forms.old_password.errors}}
                            </div>
                            <div class="row my-5">
    
                                    <label class="labels text-dark bg-light  h6">{{forms.new_password1.label|capfirst}}</label>
                                    {{forms.new_password1}}
                                    {{forms.new_password1.errors}}
    
                            </div>
                            <div class="row my-5">
    
    
                                <label class="labels text-dark bg-light  h6">{{forms.new_password2.label|capfirst}}</label>
                                    {{forms.new_password2}}
                                    {{forms.new_password2.errors}}
    
                            </div>
                            
    
                {% if forms.non_field_errors %}
                    {% for error in forms.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
                            <span class="text-dark bg-light">Don't remember password</span>
                            <a href="#">Forgot Now</a>
                            <div class="row m-4">
                                    <a href="/profile/" class="btn my-2 btn-secondary text-dark bg-light">Cancel</a>
                                    <button type="submit" class="btn btn-outline-warning">Change Password</button>
    
                            </div>
                          </form>
                </div>
    
        </div>
    </div>
</section>
{% endblock content_box %}

