{% extends 'base2.html' %}
{% block title %}about us{% endblock title %}

{% block content_box %}
<section class="container" >

    <div class="container text-center my-3 w-100 h-100" >
        <div class="card text-dark bg-light">
            
            <h2>Teezer News</h2>
            <p class='text-dark bg-light'>Welcome to <a href="/">Teezer News</a>   , your ultimate destination for comprehensive and up-to-date news coverage. We strive to keep you informed about the latest happenings from around the world, catering to a wide range of interests and topics. Whether you're looking for breaking news, live updates, trending stories, or news relevant to your specific interests, we have you covered.
                
            </p>
        </div>
    </div>
    

    <div class="row m-2 border rounded p-1">
        <h2>Our Mission:</h2>
        <div class="col" style="background-image:linear-gradiant(black,black),url('https://images.unsplash.com/photo-1585719022717-87adb5bc279d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');background-repeat:no-repeat;background-size:cover;">
            <p  class='text-dark bg-light'>At Teezer News, our mission is to provide a reliable and accessible platform for news enthusiasts seeking accurate, unbiased, and timely information. We believe that knowledge empowers individuals and communities, and we are committed to delivering news that matters to you.

            </p>
        </div>
        <div class="col-md-auto card">
            <img   style="max-width: 350px;" src="https://images.unsplash.com/photo-1588681664899-f142ff2dc9b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="">
        </div>
    </div>

    <div class="row m-2">
        <h2>What We Offer:</h2>
        <div class="col card m-2 text-dark bg-light border" style="min-width:250px">
            <img style="width:100%" src="https://images.unsplash.com/photo-1583932692977-7c74a6b7e7ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fEN1cnJlbnQlMjBOZXdzfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="my-2">Current News:</h5>
            <p class='text-dark bg-light'>Stay informed with our extensive coverage of current news stories from across the globe. Our team of experienced journalists and contributors work tirelessly to bring you the most recent updates on politics, business, technology, health, entertainment, sports, and more. We make sure you're always in the know.

            </p>
        </div>
        <div class="col card m-2 text-dark bg-light border" style="min-width:150px">
            <img style="width:100%" src="https://images.unsplash.com/photo-1583932692977-7c74a6b7e7ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fEN1cnJlbnQlMjBOZXdzfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="my-2">Live Feed:</h5>
            <p class='text-dark bg-light'>Experience news as it unfolds with our live feed feature. Get minute-by-minute updates on major events, press conferences, and breaking news stories. Our live feed keeps you connected and engaged, allowing you to follow unfolding events in real-time.
            </p>
        </div>
        
    </div>
    <div class="row m-2">
        <div class="col card m-2 text-dark bg-light border" style="min-width:150px">
            <img style="width:100%" src="https://images.unsplash.com/photo-1583932692977-7c74a6b7e7ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fEN1cnJlbnQlMjBOZXdzfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="my-2">Trending News:</h5>
            <p class='text-dark bg-light'>Discover what's trending in the world right now. Our trending section highlights the most popular and talked-about news articles, ensuring you don't miss out on the latest buzz. Stay ahead of the curve and be part of the global conversation.
            </p>
        </div>

        <div class="col text-dark bg-light border card m-2 " style="min-width:150px">
            <img style="width:100%" src="https://images.unsplash.com/photo-1583932692977-7c74a6b7e7ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fEN1cnJlbnQlMjBOZXdzfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="my-2">All Categories of News</h5>
            <p class='text-dark bg-light'> From international affairs to local events, we cover a vast range of categories. Our comprehensive collection ensures that you have access to news that matters to you. Browse through politics, business, lifestyle, culture, health, science, sports, and much more, all in one convenient location.
            </p>
        </div>
        

        <hr>
        <div class="row m-2">
            <h3>Why Choose Us:</h3>
            <div class="row card p-2 m-2 text-dark bg-light border" style="width: 100%;">
                <div class="col"><h3>Accuracy and Reliability:</h3></div>
                <div class="col"><p class='text-dark bg-light'>We prioritize accuracy and reliability in our news reporting. Our team of dedicated professionals follows strict journalistic standards to deliver trustworthy and fact-checked information. Count on us to provide news you can rely on.</p></div>
                
            </div>
            <div class="row card  text-dark bg-light border p-2 m-2 text-dark bg-light border" style="width: 100%;">
                <div class="col"><h3>User-Friendly Interface:</h3></div>
                <div class="col">
                    <p class='text-dark bg-light'>Our website is designed with your convenience in mind. We offer a user-friendly interface that makes navigation seamless, allowing you to find the news you need quickly. Enjoy a hassle-free browsing experience tailored to your preferences.

                    </p>
                </div>
            </div>

            <div class="row card p-2 m-2 text-dark bg-light border" style="width: 100%;">
                <div class="col"><p class='text-dark bg-light'>Access our website from any device, be it a desktop computer, laptop, tablet, or smartphone. We ensure that you can stay connected and updated with the latest news wherever you are.

                </p></div>
                <div class="col"><h3>Stay Updated Anywhere, Anytime:</h3></div>
            </div>
            <div class="row card p-2 m-2 text-dark bg-light border" style="width: 100%;">
                <div class="col"><p class='text-dark bg-light'>We encourage active participation and engagement with our news articles. Leave your comments, share your thoughts, and contribute to the discussion. Join a community of like-minded individuals who value staying informed and exchanging ideas.

        </p></div>
                <div class="col"><h3>Engage and Share:
                </h3></div>
                
            </div>
            </div>

        
    </div>

    <div class="container px-5 mt-5">
        <p class='text-dark bg-light'>Stay connected and informed with <a href="/">Teezer News</a>. Experience news in a whole new way and discover the stories that matter to you. Start exploring now!</p>
    </div>

</section>
{% endblock content_box %}