{% extends 'base.html' %}
{% block title %}Auth{% endblock title %}
{% block content %}
<div class="container mb-5" style="margin-top: -90px;">
  <h4 class="w-100 text-center text-light fs-1">Sign Up</h4>
  <form style="max-width:340px;margin:auto;"id="usererror" action="/signup/" method="post">
    <!-- Email input -->
    {% csrf_token %}
      <!-- Email input -->
      
      <div class="form mb-4">
        <label class="text-light fs-6" for="form1Example13">Username</label>
        <input type="text" name="username" id="form1Example13" class="form-control form-control" />
        {% comment %} {{form.username.errors}} {% endcomment %}
      </div>

      <!-- Password1 input -->
      <div class="form mb-4">
        <label class="text-light fs-6" for="form1Example23">Password</label>
        <input type="password" name="password1" id="form1Example23" class="form-control form-control" />
        {% comment %} {{form.password1.errors}} {% endcomment %}

      </div>
      <!-- Password2 input -->
      <div class="form mb-4">
        <label class="text-light fs-6" for="form1Example23">Confirm Password</label>
        <input type="password" name="password2" id="form1Example23" class="form-control form-control" />
        {% comment %} {{form.password2.errors}} {% endcomment %}

      </div>

      <div class="d-flex justify-content-around align-items-center mb-4">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
          <label class="form-check-label text-light" for="form1Example3"> Remember me </label>

        </div>
        <a href="/login" class="btn btn-sm shadow-lg bg-info">Log in</a>
      </div>

        {% comment %} {% for er in form.non_field_errors %}
          {{er}}
        {% endfor %} {% endcomment %}
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

     
 
  </form>
</div>
{% endblock content %}